.login-wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
}

.login-box {
  background: #ffffff;
  padding: 30px;
  width: 320px;
  border: 1px solid #ddd;
  border-radius: 6px;
}

.login-box h2 {
  text-align: center;
  margin-bottom: 20px;
}

.login-box input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-box button {
  width: 100%;
  padding: 10px;
  background-color: #0d6efd;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.login-box button:hover {
  background-color: #0b5ed7;
}

.message {
  text-align: center;
  margin-top: 10px;
  color: red;
}

.signup-link {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
}

.signup-link span {
  color: #0d6efd;
  cursor: pointer;
}




/* sign csss */


.signup-wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
}

.signup-box {
  background: #ffffff;
  padding: 30px;
  width: 320px;
  border: 1px solid #ddd;
  border-radius: 6px;
}

.signup-box h2 {
  text-align: center;
  margin-bottom: 20px;
}

.signup-box input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.signup-box button {
  width: 100%;
  padding: 10px;
  background-color: #0d6efd;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.signup-box button:hover {
  background-color: #0b5ed7;
}

.message {
  text-align: center;
  margin-top: 10px;
  color: green;
}

.login-link {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
}

.login-link span {
  color: #0d6efd;
  cursor: pointer;
}
